/*
div {
    border: 10px solid #3ec483;
    background: #5deaa8;
    height: 100px;
    width: 200px;
    padding: 10px;
    margin: 10px;
}
*/

.div1 {
    background: red;
    height: 100px;
    width: 200px;
    border-top-left-radius: 10%;
    border-top-right-radius: 20%;
    border-bottom-right-radius: 30%;
    border-bottom-left-radius: 40%;
    border: 5px solid black;
    margin: 50px;
    padding: 10px;
    box-sizing: border-box;
    position: relative;
    top: 50px;
}

.div2 {
    background: green;
    border: 10px solid blue;
    height: 100px;
    width: 200px;
    padding: 20px 50px 60px 40px;
    margin: 40px 30px 60px 30px;

}